@media screen and (min-width: 575px) {
    .mycontainer {
        margin-inline: 150px;
    }

    .title {
        font-size: 5rem;
    }
}

@media screen and (min-width: 768px) {
    .mycontainer {
        margin-inline: 40px;
    }

}

@media screen and (min-width: 992px) {
    .mycontainer {
        margin-inline: 10px;
    }

}


@media screen and (min-width: 1200px) {
    .mycontainer {
        margin-inline: 140px;
    }

}