body {
    background-image: url(../img/cork.png);
    background-size: 40%;
}

/*** HEADER ***/

header {
    font-family: "Nunito", sans-serif;
    background-image: url("../img/wall.png");
    background-size: 30%;
    font-style: italic;
    height: 150px;
}

h1 {
    padding-top: 22px;
}

/*** MAIN ***/

.mycontainer {
    margin: 50px 250px;
}

/* CARD */
.mycontainer .row > div {
    height: 400px; 
    width: 300px; 
    margin-bottom: 20px;
    margin-inline: 10px;
}
.mycontainer .row {
    position: relative;
}

.mycontainer .row img.pin {
    position: relative;
    top: -10px;
    transform: translateX(120px);
}

p {
    font-style: italic;
    text-transform: capitalize;
    padding-top: 10px;
    font-size: 0.9rem;
}


