body {
    background-image: url(../img/cork.png);
    background-size: 40%;
}

/*** HEADER ***/

header {
    font-family: "Montserrat", sans-serif;
    background-image: url("../img/wall.png");
    background-size: 30%;
    font-style: italic;
    font-weight: bold;
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

/*** MAIN ***/
main {
    margin-top: 200px;
}

.mycontainer {
    margin: 50px;
}

/* CARD */
.mycontainer .row > div {
    margin-bottom: 20px;
    margin-inline: 10px;
    box-shadow: 2px 2px 5px -1px;
}
.mycontainer .row {
    position: relative;
}

.mycontainer .row img.pin {
    position: relative;
    top: -10px;
    left: calc(50% - 15px);
}

p {
    font-style: italic;
    text-transform: capitalize;
    padding-top: 10px;
    font-size: 0.9rem;
}


